.main-header {
  /* border: 2px solid #030301; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 10%;
}

.main-header #title {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.main-header #title img {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  border-radius: 50%;
  border: 2px solid #ffc404;
}
.main-header-button {
  border-radius: 10px;
  margin-top: 1rem;
  text-align: center;
  padding: 0.6rem;
  background: transparent;
  backdrop-filter: blur(20px);
  color: #ffc404;
  font-size: 0.85rem;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5), 0 2px 8px rgba(0, 0, 0, 0.3),
    inset 0 1px 2px rgba(255, 255, 255, 0.25),
    inset 0 -1px 1px rgba(0, 0, 0, 0.2);
  transition: all 300ms;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
