.product-item {
  background-color: #4c3b23;
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.product-item article {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-item img {
  width: 100%;
  height: 24rem;
  object-fit: cover;
}

.product-item h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.75rem 0;
}

.product-item-description {
  margin: 1rem;
}

.product-item-price {
  display: inline-block;
  background-color: #3a341f;
  color: #ffc404;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  margin: 0;
  border-radius: 4px;
}
